<%= @greeting %>
<br>
<br>
<h1>Please Choose From the following Menus</h1>
<button><%= link_to "Current Menu Items", menus_path, method: :get %></button>
<button><%= link_to "Add Menu Items", new_menu_path, method: :get %></button>
